
<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="genderButton">
    Gender
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu gender_drop_down" aria-labelledby="dLabel">


      <% if @conditions.key?(:gender) %>

       <li class="genderbucket filters" data-val=""><i class="fa fa-times-circle" aria-hidden="true"></i>remove Gender filter </li>

      <% else %>

    <% @sneakers.aggs["gender"]["buckets"].each do |bucket| %>
      <li>
      <ul class="list-inline">
    <li class="genderbucket filters" data-val="<%= bucket["key"]%>"><i class="fa fa-circle-thin" aria-hidden="true"></i><%= bucket["key"] %></li>

    <li><%= bucket["doc_count"] %></li>
    </ul>
      </li>
    <% end %>

    <% end %>


  </ul>
</div>

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="brandButton">
    Brand
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu brand_drop_down" aria-labelledby="dLabel">



      <% if @conditions.key?(:sneak_brand) %>

       <li class="brandbucket filters" data-val=""><i class="fa fa-times-circle" aria-hidden="true"></i>remove Brand filters </li>

       <% @sneakers.aggs["sneak_brand"]["buckets"].each do |bucket| %>

      <% if @conditions[:sneak_brand].include? bucket['key'] %>
    <li class="brandbucket filters active" data-val="<%= bucket["key"]%>"><i class="fa fa-times-circle" aria-hidden="true"></i><%= bucket["key"] %></li>


    <% else %>
     <li>
      <ul class="list-inline">
    <li class="brandbucket filters" data-val="<%= bucket["key"]%>"><i class="fa fa-circle-thin" aria-hidden="true"></i><%= bucket["key"] %></li>

    <li><%= bucket["doc_count"] %></li>
      </ul></li>
    <% end %>
    <% end %>

      <% else %>

    <% @sneakers.aggs["sneak_brand"]["buckets"].each do |bucket| %>
       <li>
      <ul class="list-inline">
    <li class="brandbucket filters" data-val="<%= bucket["key"]%>"><i class="fa fa-circle-thin" aria-hidden="true"></i> <%= bucket["key"] %></li>

    <li><%= bucket["doc_count"] %></li>
    </ul></li>
    <% end %>

    <% end %>


  </ul>
</div>





