<% @sneaker = locals[:sneak] %>
<!-- Modal -->
<div class="modal" id="mod2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- HEADER OF MODAL -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="">
          <!-- work out a better way to do this -->
          <% if @current_pin = pin_exist?(@sneaker) %>
          <div class="bucketListButtonGrey" id="myBtn">
            <i class='fa fa-star-o' aria-hidden='true'></i> Saved </div>
            <% else %>
            <div class="bucketListButton bucketButton-<%= @sneaker.id %>" id="myBtn">
              <i class="fa fa-thumb-tack" aria-hidden="true"></i> Save
            </div>
            <% end %>
          </div>
        </div>
        <!-- END OF HEADER -->
        <!-- BODY OF MODAL -->
        <div class="modal-body">
         <div class="row">
           <!-- left column -->
           <div class="col-md-6">
            <div class="fullCard">
              <!-- render the save button and image-->
              <div class="card">
                <div class="row">
                  <div class="col-md-12">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="modal-main-image">
                      <ul class="slides">
                        <li class="active">
                          <%= cl_image_tag(@sneaker.photo, class: "image_large") %>
                        </li>
                        <li>
                          <%= cl_image_tag(@sneaker.alt_photo, class: "image_large") %>
                        </li>
                      </ul>
                        <div class="social_share">
                        <p class="share_header">Share</p>
                          <ul class="social_share_list">
                            <li><div class="facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                            <li><div class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div></li>
                            <li><div class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></div></li>
                          </ul>
                      </div>
                    </div>
                    <div class="leftside-modal-footero">


                    </div>
                  </div>
                </div>
              </div>
              <!-- card 2 -->

              <div class="miniMod">
                <div class="miniMod-content">

                  <div class="row">
                    <div class="col-md-12">
                     <span class="close">&times;</span>
                   </div>
                 </div>
                  <% if current_user %>
                 <div class="row">
                  <div class="col-md-6">
                    <ul class="slides">
                      <li class="active">
                        <%= cl_image_tag(@sneaker.photo, class: "image_large") %>
                      </li>
                      <li>
                        <%= cl_image_tag(@sneaker.alt_photo, class: "image_large") %>
                      </li>
                      <li><h5><%= @sneaker.name %></h5></li>
                    </ul>
                  </div>
                  <div class="col-md-6 no_pad_right border-left no_pad_left">
                    <div class="card2">

                      <div class="bucketListForm">
                        <% if @existing_buckets.any? %>
                        <h5 class="bucket_added">Already Added to:
                          <%= @existing_buckets[0].name %>
                          <% if @existing_buckets.length > 1 %>
                          <span class='active_buckets'> and others...</span>
                          <% end %>
                        </h5>
                        <% end %>

                        <!--  bucket list as div -->
                        <% if @buckets_cut %>
                        <% @buckets_cut.each_with_index do |bk_8, i| %>
                        <div class="pretty_bucket_list_outer <%= 'noDisplay' if i > 0 %>" data-page="<%= i %>">
                          <p class="miniMod-header border-bottom">Choose bucket</p>
                          <ul class="pretty_bucket_list">
                            <% bk_8.each do |bucket| %>
                            <li data-bucket="<%= bucket.id %>">
                              <ul class="list-inline">
                                <li class="bucket_name"><%= bucket.name %> </li>
                                <li class="plus_logo"><i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i></li>
                              </ul>
                            </li>
                            <% end %>
                          </ul>
                          <% if i < @buckets_cut.length - 1 %>
                          <div class="view_more" data-page="<%= i %>"><p>View More&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></p></div>
                          <% end %>
                          <% if i  > 0 %>
                          <div class="previous" data-page="<%= i %>"><p><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Previous </p></div>
                          <% end %>
                        </div>
                        <% end %>
                        <% else %>
                        <div class="pretty_bucket_list_outer <%= 'noDisplay' if i > 0 %>" data-page="<%= i %>">
                          <p class="miniMod-header border-bottom">Sign in to Save to Wardrobe</p>
                        </div>
                        <% end %>


                        <!-- price watch list as div -->



                        <div class="price_watch_container noDisplay">
                          <p class="miniMod-header border-bottom">Add Price Watch</p>
                          <ul class="list-inline">
                            <li data-price="1">Any Price Drop</li>
                            <li data-price="10">10% Off</li>
                            <li data-price=20>20% Off</li>
                          </ul>
                        </div>
                        <div class="noButton">
                          <% if @buckets.any? %>
                          <%= simple_form_for(@pin = Pin.new, remote: true) do |f| %>
                          <%= f.input :bucket, label: false, input_html: {class: "noDisplay"} %>
                          <%= f.input :price_watch, label: false, input_html: {class: "noDisplay"} %>
                          <%= f.input :sneaker, as: :hidden, input_html: {value: @sneaker.id} %>
                          <%= f.submit "do it!", class: "pinSubmit" %>
                          <% end %>
                          <% end %>
                          <div class="noPriceWatch noDisplay" data-price="nil">Save without price watch</div>
                        </div>
                      </div>
                      <div class="newBucket">
                        <%= link_to " + Create New Bucket", new_bucket_path(@sneaker), remote: true, class: "displayNewBucket" %>
                      </div>
                    </div>
                    <!-- card 3 -->
                    <div class="card3">
                    </div>
                  </div>
                </div>
                <% else %>
                <p class="center-align"> Please Login or Sign Up to save to wardrobe </p>
                <ul class="list-inline no_entry">
                <li class="center-align"><%= link_to "Log In", new_user_session_path, class: "shop_link padding-sides-30" %></li>
                 <li class="center-align"><%= link_to "Sign Up", new_user_registration_path, class: "shop_link padding-sides-30" %></li>
                 </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- right column -->

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <div>
                <h4 class="sneaker_title"><%= @sneaker.name %></h4>
              </div>
              <div class="style_code">Style(sku): <%= @sneaker.style_code %></div>
              <hr class="details">
              <div class="shrinkwrap price_badge">From £<%= '%.2f' % @sneaker.lowest_price if @sneaker.lowest_price %></div>
            </div>
            <div class="col-md-4"><h4 class="logo_container"><%= cl_image_tag(@sneaker.brand.logo, class: "brand_logo") %></h4></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr class="break">
              <ul class="list-inline flex-between middle_info">
                <li class="store_count"><%= (sVendors = @sneaker.vendors).count %> Stores</li>
                <li>
                 <% if @current_pin && @current_pin.price_watch.nil? %>
                 <div class="price_watch_button price_watch_message-<%= @sneaker.id %>">
                  <%= link_to(edit_pin_path(@current_pin), remote: true) do %>
                  <i class="fa fa-bell-o" aria-hidden="true"></i> <span id="save_message">Add</span> Price Watch
                  <% end %>
                </div>
                <% elsif  @current_pin && @current_pin.price_watch %>
                <%= link_to(edit_pin_path(@current_pin), remote: true) do %>
                <div class="priceWatchSet price_watch_message-<%= @sneaker.id %>">
                  <i class="fa fa-bell-o" aria-hidden="true"></i> Price watch set
                </div>
                <% end %>
                <% else %>
                <div class="priceWatchSet price_watch_message-<%= @sneaker.id %>">
                  <i class="fa fa-bell-o" aria-hidden="true"></i><span id="save_message">Save</span> <span style="color: #4d4d4d;">to add price watch</span>
                </div>
                <% end %>
              </li>
            </ul>
            <hr class="break">
            <div class="">
              <% sVendors.each do |vend| %>
              <div class="row vendor_card vendrow">
               <div class="col-md-3 no-right-padding">
                      <div class="row upper_vendrow">
                        <div class="col-md-12 sty"><%= cl_image_tag(vend.logo.photo, class: "vendor_logo") %></div>
                      </div>
                    </div>

                <div class="col-md-9">
                  <div class="row top myrow">

                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-9">
                          <span class="sizes_title">available sizes:</span>

                        </div>
                        <div class="col-md-3">
                          <div class="row">
                           <div class="col-md-12 previous_price no-right-padding style_code">
                             <% if (@prev = vend.previous_price) > vend.current_price %>
                             <p class="font-size-09">£<%= '%.2f' % @prev %></p>
                             <% end %>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-md-12 no-right-padding price"><p class="font-size-09">£<%= '%.2f' % vend.current_price if vend.current_price %></p></div>
                         </div>
                         <div class="row">
                           <div class="col-md-12 price_spacer"><p>&nbsp;</p></div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-5">
                    <div class="row">
                      <div class="col-md-12"><div class="shop_link">Go To Shop</div></div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="shop_name"> <%= vend.logo.name %></div></div></div>
                      </div>
                    </div>
                    <div class="row bottom myrow">

                      <div class="col-md-12">
                          <ul class="list-inline ul_size_list">

                            <% vend.uk_available.each do |ob| %>
                            <li class="size_list"><%= ob %></li>
                            <% end %>
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
