
<div class="row pin-grid">
<% @sneakers.each_with_index do |sneak, i| %>
<% if i % 4 == 0 %>
</div>
<div class="row">
<% end %>
<div class="col-md-3 cl-sm-6 pin-item">
<div class="pin">
  <div class="pin-body">
  <%= cl_image_tag(sneak.photo) %>
  </div>
  <div class="pin-footer">
    <p><%= link_to sneak.name, sneak %></p>
<p><%= sneak.style_code %></p>
<p>
<a data-target="#sneakerModal-<%= sneak.id %>" data-toggle="modal" data-rails="<%= sneak.id %>" class="secondnavbar thin-link" id="MainNavHelp" href="#sneakerModal">

<span class= "thin-link">Show Sneaker</span>
</a>

</p>
<div class="mod2" data-rails="<%= sneak.id %>">MOdaaalalallalall</div>
  </div>
</div>






</div>
<% end %>
<div class="mooo"></div>

</div>
<div class="row">
  <div class="col-md-12">
    <div>
    <p><%= will_paginate @sneakers %></p>

</div>
  </div>
</div>
<%= javascript_include_tag 'search' %>
