<div class="row">
<div class="col-md12">
<div id="grid" data-columns>
<% sizes = [200, 300, 400] %>
<% count = 0 %>
<% @sneakers.each do |sneak| %>
<% count += 1 %>
  <div style="height: <%= sizes.sample %>px;" class="orange">
<% if sneak.alt_photo.thumb %>
<%= cl_image_tag(sneak.alt_photo.thumb) %>
<% else %>
<%= cl_image_tag(sneak.photo) %>
<% end %>
<%= link_to sneak.name, sneak %>
<%= sneak.style_code %> <%= link_to 'new vendor', new_sneaker_vendor_path(sneak) %>
<p>the count is <%= count %></p>
<button class="mod2" data-rails="<%= sneak.id %>" onclick="">MOdaaalalallalall</button>
</div>
<% end %>
<div class="mooo"></div>
</div>
</div>
</div>
<div class="row">
<div class="col-md12"><%= will_paginate @sneakers %></div></div>


