<% @sneakers.each do |sneak| %>
<% sizes = [200, 300, 400] %>
  <div style="height: <%= sizes.sample %>px;" class="orange">
<% if sneak.alt_photo.thumb %>
<%= cl_image_tag(sneak.alt_photo.thumb) %>
<% else %>
<%= cl_image_tag(sneak.photo) %>
<% end %>
<%= link_to sneak.name, sneak %>
<%= sneak.style_code %> <%= link_to 'new vendor', new_sneaker_vendor_path(sneak) %>

<button class="mod2" data-rails="<%= sneak.id %>" onclick="">MOdaaalalallalall</button>
</div>
<% end %>
