
<div class="container-fluid">

<div class="row">
  <div class="col-md-12 jumbotron">
    <div class="search_bar">
      <%= form_tag root_path, method: 'get', remote: true do %>

      <%= text_field_tag :gender, params[:gender], id: 'generoo' %>
      <%= text_field_tag :brand, params[:brand], id: 'brandoo' %>
      <%= text_field_tag :search, params[:search], :"data-list" => ".list", id: "srch" %>
      <%= submit_tag "search", :name => nil %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5 facets">
   <%= render 'facets' %>
  </div>
  </div>
  <div class="row">
<div class="col-md-12">
<div id="products">



<p>The is the response:</p>

<%= render 'sneakers' %>

</div>
<div id="pagin"></div>
</div>
</div></div>




