  <div class="row">
              <div class="col-md-12">


 <div class="cancelPin">X</div>
        <%= simple_form_for(@bucket, remote: true, input_html: {class: "bformo"}) do |f| %>
        <%= f.input :name, label: "Bucket Name" %>
        <% @bucket.pins.each do |pin| %>

        <%= f.simple_fields_for :pins, pin do |pn| %>

          <%= pn.input :sneaker_id, as: :hidden, input_html: {value: @sneaker} %>
           <%= pn.input :price_watch %>
        <% end %>

        <% end %>
        <%= f.submit %>
        <% end %>

  </div>
              </div>
